@charset "UTF-8";

:root{
	--verde: #26b786;
	--azul: #0d8796;
	--roxo: #740cae;
    --escuro: #000022;
	--gradient: linear-gradient(90deg, #26b786, #0d8796, #740cae);
}

img{
    max-width: 100%;
}

.logo{
    max-width: 180px !important;
}

.g-recaptcha{
	margin-top:15px;
}

.bg-verde{
    background-color: var(--verde) !important;
}
.bg-azul{
    background-color: var(--azul) !important;
}
.bg-roxo{
    background-color: var(--roxo) !important;
}
.bg-escuro{
    background-color: var(--escuro) !important;
}
.bg-gradient{
    background-image: var(--gradient);
    border: 0;
}

.text-verde{
    color: var(--verde) !important;
}
.text-azul{
    color: var(--azul) !important;
}
.text-roxo{
    color: var(--roxo) !important;
}
.text-escuro{
    color: var(--escuro) !important;
}


li{
    font-size: 1.2rem;
}